<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        color: #001ac6;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>
        Для активации вашего аккаунта вам необхимо нажать на кнопку: 
        <a class="text-center verify-button"
          href="{{ activation_url }}">
          <button type="button"
            class="button">Активировать аккаунт</button>
        </a>
      </h1>
    </div>
  </body>
</html>
